In [12]:
import pandas as pd

In [13]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],

  "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],

"Fiyat" : [300,180,450,50,700,400,150,80,850,900]}
df = pd.DataFrame(sozluk)
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [14]:
df["Kategori"][2]

'Ayakkabı'

In [15]:
df["Ürün"][2]

'Sandalet'

In [16]:
df[4:]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [17]:
df["Ürün"][1:7]

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
Name: Ürün, dtype: object

In [18]:
df[df["Kategori"]=="Giyim"]["Ürün"]

0       Kazak
1     T-shirt
5    Pantolon
9       Ceket
Name: Ürün, dtype: object

In [20]:
df[df["Kategori"]=="Ayakkabı"]["Ürün"]

2         Sandalet
4    Spor Ayakkabı
8            Çizme
Name: Ürün, dtype: object

In [21]:
df[df["Kategori"]=="Aksesuar"]["Ürün"]

3     Küpe
6    Kolye
7    Yüzük
Name: Ürün, dtype: object

In [22]:
df[(df["Kategori"]=="Giyim") & (df["Fiyat"]>300)]["Ürün"]

5    Pantolon
9       Ceket
Name: Ürün, dtype: object

In [23]:
df[(df["Kategori"]=="Ayakkabı") & (df["Fiyat"]>600)]["Ürün"]

4    Spor Ayakkabı
8            Çizme
Name: Ürün, dtype: object

In [24]:
df[(df["Kategori"]=="Aksesuar") & (df["Fiyat"]>100)]["Ürün"]

6    Kolye
Name: Ürün, dtype: object