# 1)
x = 3 ----> floata çevirelim.

y = 4.5 -----> integere çevirelim. 

z = "8" -----> integera çevirelim. 

a = "12" -----> floata çevirelim. 

b = "46.8" ------> integera çevirelim.

In [9]:
x = 3
float_x = float(x)
print(x,type(x), "->" ,float_x,type(float_x))

y=4.5
int_y=int(y)
print(y, type(y), "->", int_y, type(int_y))

z = 8
int_z = int(z)
print(z, type(z), "->", int_z, type(int_z))

a= 12
float_a = float(a)
print(a, type(a), "->", float_a, type(float_a))

b = 46.8
int_b = int(b)
print(b, type(b), "->", int_b, type(int_b))

3 <class 'int'> -> 3.0 <class 'float'>
4.5 <class 'float'> -> 4 <class 'int'>
8 <class 'int'> -> 8 <class 'int'>
12 <class 'int'> -> 12.0 <class 'float'>
46.8 <class 'float'> -> 46 <class 'int'>

# 2)
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [11]:
esmahan_yas = 27
neslihan_yas= 25
taner_yas= 17
print(taner_yas>esmahan_yas)
print(taner_yas<neslihan_yas or esmahan_yas>neslihan_yas)
print(esmahan_yas==neslihan_yas and taner_yas<neslihan_yas)

False
True
False

# 3)
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [13]:
sayi1= int(input("Birinci sayıyı giriniz: "))
sayi2= int(input("İkinci sayıyı giriniz: "))
print("Girilen sayılar: ", sayi1, sayi2)
print("Toplama işlemi sonucu: ", sayi1+sayi2)
print("Çıkarma işlemi sonucu: ", sayi1-sayi2)
print("Çarpma işlemi sonucu: ", sayi1*sayi2)
print("Bölme işlemi sonucu: ", sayi1/sayi2)

Girilen sayılar:  4 7
Toplama işlemi sonucu:  11
Çıkarma işlemi sonucu:  -3
Çarpma işlemi sonucu:  28
Bölme işlemi sonucu:  0.5714285714285714

# 4)
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [15]:
isim = input("İsminizi giriniz: ")
yas = int(input("Yaşınızı giriniz: "))
sehir = input("Şehrinizi giriniz: ")
meslek = input("Mesleğinizi giriniz: ")
print("İsim: ", isim)
print("Yaş: ", yas)
print("Şehir: ", sehir)
print("Meslek: ", meslek)

İsim:  Esmahan
Yaş:  27
Şehir:  Hatay
Meslek:  Bilgisayar Mühendisliği

# 5)
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.
 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 
"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [18]:
str = "Hi-Kod Veri Bilimi Atölyesi"
kelimeler = str.split()
print("Kelimeler: ", kelimeler)
buyuk_harf = str.upper()
print("Büyük harfli ifade: ", buyuk_harf)
kucuk_harf = str.lower()
print("Küçük harfli ifade: ", kucuk_harf)
sayi = "0123456789"
cift_Sayi= sayi[0::2]
print("Çift sayılar: ", cift_Sayi)
tek_Sayi= sayi[1::2]
print("Tek sayılar: ", tek_Sayi)

Kelimeler:  ['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']
Büyük harfli ifade:  HI-KOD VERI BILIMI ATÖLYESI
Küçük harfli ifade:  hi-kod veri bilimi atölyesi
Çift sayılar:  02468
Tek sayılar:  13579